body  {
    background-color: grey;
}

h1 {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}

.konteiner {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 40%;
    padding: 5px solid white;
    padding: 10%;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
    

    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 2%, rgba(252,70,107,1) 100%);

}

.konteiner >input {
    font-size: 0.6rem;
}